---
title: Beta Corp. - Panopta
---

section.section.section--shadow
  .container
    .text-center.space-b2
      a href="https://demo.panopta.nl"
        = image_tag "panopta_logo.svg", width: "250", class: "d-inline-block"

    .row.space-b2
      .col-4
        p.paragraph.space-b0 Voor bedrijven die een praktische oplossing zoeken m.b.t. de nieuwe privacywetgevinging is Panopta een webapplicatie die helpt informatie-incidenten te managen. In plaats van een papierwinkel op te tuigen, zorgt ons product dat het hele proces eenvoudig, snel en correct wordt afgehandeld.

      .col-4
        p.paragraph.space-b1 Op dit moment zijn we druk bezig met de ontwikkeling van Panopta. Zo draaien we op dit moment pilots met leveranciers en gebruikers van software in de zorgsector.

      .col-4
        p.paragraph.color-primary.space-b1
          | Wilt u op de hoogte blijven van de ontwikkelingen? Schrijf u dan hieronder in voor de nieuwsbrief.

        form.contact.contact--dark action="https://betacorp.us17.list-manage.com/subscribe/post" method="POST"
          input type="hidden" name="u" value="1bfe50aa61a2a48c568321fcb"
          input type="hidden" name="id" value="10f406a731"
          input#MERGE0.textfield name="MERGE0" placeholder="Uw e-mailadres" type="email"
          input.button.button--dark type="submit" value="Inschrijven"

    .row
      .col-4
        = image_tag "panopta_stap1.png", width: "100%", class: "d-block portfolio__image portfolio__image--dark space-b1"

        h3.heading.heading--s Eenvoudig
        p.paragraph.space-b0
          | Panopta helpt u bij het opstellen van een case door u stap voor stap mee te nemen door de beslisboom - zo kunt u nooit wat vergeten.

      .col-4
        = image_tag "panopta_stap2.png", width: "100%", class: "d-block portfolio__image portfolio__image--dark space-b1"

        h3.heading.heading--s Correct
        p.paragraph.space-b0
          | De accountantscontrole wordt kinderspel. Met één druk op de knop kunt u een volledige case afdrukken, inclusief alle bijbehorende communicatie.

      .col-4
        = image_tag "panopta_stap3.png", width: "100%", class: "d-block portfolio__image portfolio__image--dark space-b1"

        h3.heading.heading--s Praktisch
        p.paragraph.space-b0
          | Zowel uw toeleveranciers als uw klanten kunnen samenwerken in Panopta, waardoor Panopta bij het aanmaken van een nieuwe case grote delen van de informatie voor u kan invullen.

