---
title: Beta Corp. - SecuForm
---

section.section.section--shadow
  .container
    .text-center
      h2.heading.color-primary.space-b2 Secuform

    .row.space-b2
      .col-6
        p.paragraph.space-b0
          ' Voor zorginstellingen die een laagdrempelig inschrijfformulier op hun website willen, is SecuForm een webapplicatie die dit veilig en eenvoudig mogelijk maakt. In tegenstelling tot een e-mailformulier sturen wij de ingevulde gegevens direct door naar Ons Administratie van
          a.link href="http://www.nedap-healthcare.com/"
            | Nedap Healthcare.

      .col-6
        p.paragraph.space-b0
          | Dit voorkomt dubbel werk en zorgt ervoor dat er geen gevoelige gevens in e-mails terechtkomen. Ook biedt het mogelijkheden tot het aanbieden van een up-to-date inschrijfformulier dat direct kan worden ingevuld, zonder tussenkomst van de cliëntadministratie.

    .row
      .col-4
        = image_tag "secuform_stap1.png", width: "100%", class: "d-block portfolio__image portfolio__image--dark space-b1"

        h3.heading.heading--s Uw eigen website
        p.paragraph.space-b0
          | Op uw eigen website plaatst u een iframe code. Deze code verwijst naar de server van Beta Corp. laat een contactformulier zien in de stijl van uw website.

      .col-4
        = image_tag "secuform_stap2.png", width: "100%", class: "d-block portfolio__image portfolio__image--dark space-b1"

        h3.heading.heading--s De vragenlijst
        p.paragraph.space-b0
          | Secuform pakt de laatste intake-vragenlijst uit Ons Administratie en legt deze voor aan de cliënt.

      .col-4
        = image_tag "secuform_stap3.png", width: "100%", class: "d-block portfolio__image portfolio__image--dark space-b1"

        h3.heading.heading--s Ons Administratie
        p.paragraph.space-b0
          | De nieuwe cliënt verschijnt in Ons Administratie met de ingevulde gegevens en vragenlijst.

